<div class="body">
    <div class="servpagetext"><p>NNNNNNNNNNNBNVVVVVVVVVVVVHJVHGV HGVGVGVGHVHG</p></div>
    
</div>

<div class="card-container">
    <div class="border"> </div>
<div class="profile-card" *ngFor="let member of members">

    <div class="profile-image-background">
      <!-- <img src=""  alt="صورة"> -->
      <div class="profile-image">
        <img [src]="member.image" class="card-img-top" [alt]="">
      </div>
    </div>
    <div class="profile-info">
      <h2>{{ member.Text }}</h2>
  <p>{{ member.Text }}</p>  
  
  <button ><a routerLink="/services" routerLinkActive="active">services</a></button>
  

  </div>
</div>
</div>

