
    
  <div class="nav-bar-div">
    <div class="logo">
        <p class="logo-text">Hello</p>
    </div>



    <div class="nav-bar">
      <div class="ul-bar">
        <div ><a routerLink="/home" routerLinkActive="active">Homepage</a></div>
        <div><a routerLink="/services" routerLinkActive="active">services</a></div>
        <div><a routerLink="/about-us" routerLinkActive="active">about-us</a></div>
        <div><a routerLink="/login" routerLinKActive="active">login</a></div>
      </div>
    </div>
</div>

  