
    
  <div class="nav-bar-div">
    <div class="logo">
      <div class="logo-text"><a routerLink="/home" routerLinkActive="active">Hello</a>
      </div>
    </div>



    <div class="nav-bar">
      <div class="ul-bar">
        <div ><a routerLink="/home" routerLinkActive="active">Homepage</a></div>
        <div><a routerLink="/services" routerLinkActive="active">services</a></div>
        <div><a routerLink="/about-us" routerLinkActive="active">about-us</a></div>
        <div><a routerLink="/contact" routerLinKActive="active">Contact</a></div>
        <div><a href="http://localhost:3001/" routerLinKActive="active" target="_blank">are you a Developer</a></div>
      </div>
    </div>
</div>

  