
    
  <div class="nav-bar-div">
    <div class="logo">
        <p class="logo-text">Hello</p>
    </div>



    <div class="nav-bar">
      <div class="ul-bar">
        <div ><a routerLink="/home" routerLinkActive="active">Homepage</a></div>
        <div><a routerLink="/services" routerLinkActive="active">services</a></div>
        <div><a routerLink="/HHHHHHHHH" routerLinkActive="active">HHHHHHHHH</a></div>
        <div><a href="http://localhost:3001/" routerLinKActive="active" target="_blank">Are you a developer</a></div>
      </div>
    </div>
</div>

  