

.nav-bar-div {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 100%;
  margin: 0 auto;

}
.logo
{
 
  width: 60%;
}
.logo-text
{
  font-size: 30px;
  text-size-adjust: 10%;
  padding-left: 10px;
  

}


.ul-bar
{
  display: flex;
  gap: 10%;
  text-align: right;
  font-size: 20px;
  text-decoration: none;
  
  

}

.ul-bar a {
  text-decoration: none;
}