<title>trtrt</title>

<div class="A">
<div class="A1"><h4>Welcome to [EasyJob]
  , we specialize in delivering innovative and reliable software solutions tailored to 
  your business needs. Whether you're a startup or an established enterprise, our team is dedicated to helping you 
  grow through modern web development, mobile apps, custom software, and cloud-based services. With a focus 
  on quality, performance, and user experience, we turn your ideas into powerful digital products.</h4></div>
<!-- <div class="A2"><h5>nnbvbcgf</h5></div> -->
<div class="A3"><img src="../../assets/img/kkkkkkkkkkkkkkkkkkkkkkkkkkkkk.png"  alt=""></div>
</div>
<!-- <div class="serv">
    
</div> -->
<div class="card-container">


<div class="profile-card" *ngFor="let member of members">

    <div class="profile-image-background">
      <div class="profile-image">
        <img [src]="member.image" class="card-img-top" [alt]="">
      </div>
    </div>
    <div class="profile-info">
      <h2>{{ member.Text }}</h2>
  <p>{{ member.paragraph }}</p>  
  
  <button ><a routerLink="/services" routerLinkActive="active">services</a></button>
  

  </div>
</div>
</div>