<title>trtrt</title>

<div class="intro-box">
  <div class="intro-title">About Us</div>
  <div class="intro-content">
    <div class="intro-text">
      <h4>
        Welcome to <strong>[EasyJob]</strong>, we specialize in delivering innovative and reliable software
        solutions tailored to your business needs. Whether you're a startup or an established enterprise,
        our team is dedicated to helping you grow through modern web development, mobile apps, custom
        software, and cloud-based services. With a focus on quality, performance, and user experience,
        we turn your ideas into powerful digital products.
      </h4>
    </div>
    <div class="intro-image">
      <img src="../../assets/img/kkkkkkkkkkkkkkkkkkkkkkkkkkkkk.png" alt="Tech illustration" />
    </div>
</div>
</div>

<!-- <div class="serv">
    
</div> -->
<div class="card-container">


<div class="profile-card" *ngFor="let member of members">

    <div class="profile-image-background">
      <div class="profile-image">
        <img [src]="member.image" class="card-img-top" [alt]="">
      </div>
    </div>
    <div class="profile-info">
      <h2>{{ member.Text }}</h2>
  <p>{{ member.paragraph }}</p>  
  
  <button>
    <a routerLink="/services" routerLinkActive="active">Services</a>
  </button>
  
  

  </div>
</div>
</div>