<title>trtrt</title>

<div class="A">
<div class="A1"><h1>kjnkjn[pp[</h1></div>
<div class="A2"><h5>nnbvbcgf</h5></div>
<div class="A3"><img src="../../assets/img/08d8a8754124e43f4d952f048197e250.png"  alt=""></div>
</div>
<div class="B1"><h1>hgfgccf</h1></div>
<div class="serv">
    <!-- <div class="GM"><img src="../../assets/img/1000_F_597319490_GNglrmOrTZcxBmYNpNCgBJQlM7PHPyNx.jpg"></div>
    <div class="info-box">
        <p> gjgj hgjhgjhg hgjhghjg hghjgjh </p>
      </div> -->
</div>
<div class="card-container">


<div class="profile-card" *ngFor="let member of members">

    <div class="profile-image-background">
      <!-- <img src=""  alt="صورة"> -->
      <div class="profile-image">
        <img [src]="member.image" class="card-img-top" [alt]="">
      </div>
    </div>
    <div class="profile-info">
      <h2>{{ member.Text }}</h2>
  <p>{{ member.Text }}</p>  
  
  <button ><a routerLink="/services" routerLinkActive="active">services</a></button>
  

  </div>
</div>
</div>